<div class="col-6">
  <input type="text" class="form-control w-50">
</div>
<div class="col-3 px-5 text-white fw-bold">
  <a href="#" class="text-white fw-bold text-decoration-none">
    <img src="https://bulma.io/images/placeholders/32x32.png" class="px-2 pb-1">
    <%= current_user.name %>
  </a>
  |
  <div class="dropdown dropstart d-inline">
    <a href="#" class="text-white text-decoration-none fw-bold dropdown-toggle" id="friend-requests" data-bs-toggle="dropdown"><i class="bi-people-fill"></i></a>
    <ul class="dropdown-menu" id="dropdown-requests">
      <% if current_user.friend_requests.any? %>
        <% current_user.friend_requests.each do |friend_request| %>
          <li class="dropdown-header friend-request">
            <a href="#" class="text-secondary text-decoration-none">
              <img src="https://bulma.io/images/placeholders/32x32.png" class="pe-2 pb-1">
              <%= friend_request.user.name %>
            </a>
            <%= link_to(accept_request_path(friend_request), class: "text-secondary text-decoration-none accept-friend-request") do %>
              <i class="bi-check"></i>
            <% end %>
            <%= link_to(friendship_path(friend_request), method: :delete, class: "text-secondary text-decoration-none reject-friend-request") do %>
              <i class="bi-x"></i>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="dropdown-header" id="no-friend-requests">
          No friend requests
        </li>
      <% end %>
    </ul>
  </div>
  |
  <%= link_to(destroy_user_session_path, method: :delete, class: "text-white", id: "sign-out") do %>
    <i class="bi-door-open-fill"></i>
  <% end %>
</div>
