<div class="row mb-2">
  <div class="col-1">
    <img src="https://bulma.io/images/placeholders/48x48.png" class="rounded-circle">
  </div>
  <div class="col ps-4">
    <div class="py-2 px-2 me-5 comment-body row text-break">
      <div class="col">
        <a href="#" class="text-primary fw-bold text-decoration-none"><%= comment.author.name %></a>
        <%= comment.body %>
      </div>
      <div class="col-1">
        <%= render "resources/dropdown_items", model: comment, resource: "comments" %>
      </div>
    </div>
    <div class="ps-3 pe-2 py-1">
      <a href="#" class="text-decoration-none">Like</a>
      <span class="fw-bold">·</span>
      <% unless attr.include?(:is_nested) %>
        <a href="#" class="text-decoration-none">Reply</a>
        <span class="fw-bold">·</span>
      <% end %>
      <%= distance_of_time_in_words(Time.now, comment.created_at) %>
      &nbsp; <i class="bi-hand-thumbs-up-fill fs-5"></i> 5
    </div>
    <% if attr.include?(:show_nested) && comment.comments.any? %>
      <div class="my-4">
        <% comment.comments.each do |sub_comment| %>
          <%= render "comments/comment", comment: sub_comment, attr: [:is_nested] %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
