<div class="row mb-2">
  <div class="col-1">
    <img src="https://bulma.io/images/placeholders/48x48.png" class="rounded-circle">
  </div>
  <div class="col ps-4">
    <div class="py-2 px-2 me-5 comment-body row text-break">
      <div class="col">
        <a href="#" class="text-primary fw-bold text-decoration-none"><%= comment.author.name %></a>
        <%= comment.body %>
      </div>
      <div class="col-1">
        <% if current_user == comment.author || !(params["action"] == "show" && params["controller"] == "comments") %>
          <div class="btn-group comment-actions">
            <a class="text-secondary text-decoration-none dropdown-dots" data-bs-toggle="dropdown"><i class="bi-three-dots-vertical comment-dots"></i></a>
            <ul class="dropdown-menu">
              <% if !(params["action"] == "show" && params["controller"] == "comments") %>
                <li><%= link_to "Show", comment, class: "dropdown-item" %></li>
              <% end %>
              <% if current_user == comment.author %>
                <li><%= link_to "Edit", edit_comment_path(comment), class: "dropdown-item" %></li>
                <li><%= link_to "Destroy", comment, method: :delete, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="ps-3 pe-2 py-1">
      <a href="#" class="text-decoration-none">Like</a>
      <span class="fw-bold">·</span>
      <a href="#" class="text-decoration-none">Reply</a>
      <span class="fw-bold">·</span>
      <%= distance_of_time_in_words(Time.now, comment.created_at) %>
      &nbsp; <i class="bi-hand-thumbs-up-fill fs-5"></i> 5
    </div>
  </div>
</div>
