<div class="card mb-4">
  <div class="card-body pb-1">
    <div class="card-title fw-bold text-primary row pt-1 pb-2">
      <div class="col-1">
        <img src="https://bulma.io/images/placeholders/48x48.png" class="rounded-circle">
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <a href="#" class="text-decoration-none author-name"><%= post.author.name %></a>
          </div>
        </div>
        <div class="row">
          <span class="text-muted pub-at"><%= distance_of_time_in_words(Time.now, post.created_at) %></span>
        </div>
      </div>
      <div class="col-1 align-self-end ps-4">
        <% if current_user == post.author ||
            params["action"] != "show" %>

          <div class="btn-group dropdown-actions">
            <a class="text-primary text-decoration-none pointer" data-bs-toggle="dropdown"><i class="bi-three-dots-vertical"></i></a>
            <ul class="dropdown-menu">
              <% if params["action"] != "show" %>
                <li><%= link_to "Show", post, class: "dropdown-item" %></li>
              <% end %>
              <% if current_user == post.author %>
                <li><%= link_to "Edit", edit_post_path(post), class: "dropdown-item" %></li>
                <li><%= link_to "Destroy", post, method: :delete, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-text mb-3">
      <%= post.body %>
    </div>
    <% if post.likes.any? %>
      <% if post.likes.one? %>
        <p class="text-muted mb-2">1 like</p>
      <% else %>
        <p class="text-muted mb-2"><%= post.likes.count %> likes</p>
      <% end %>
    <% end %>
    <div class="card-footer row bg-transparent text-center py-2 mb-3">
      <div class="col">
        <%= render "likings/liking", post: post %>
      </div>
      <div class="col">
        <label for="comment-<%= post.id %>" class="text-secondary fw-bold pointer"><i class="bi-chat-left"></i> Comment</label>
      </div>
    </div>
    <div class="comments-section pe-1 pb-3">
      <div class="comment-list pb-3">
        <% if params["action"] == "show" %>
          <% post.comments.each do |comment| %>
            <%= render "comments/comment", comment: comment, sub: false %>
          <% end %>
        <% else %>
          <% post.comments.last(3).each do |comment| %>
            <%= render "comments/comment", comment: comment, sub: false %>
          <% end %>
        <% end %>
      </div>
      <%= render "comments/form", model: Comment.new %>
    </div>
  </div>
</div>
