<div class="container-fluid col-6 px-5">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  <%= render 'form', post: @post %>
  <% @posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body pb-1">
        <div class="card-title fw-bold text-primary row pt-1 pb-2">
          <div class="col-1">
            <img src="https://bulma.io/images/placeholders/48x48.png" class="rounded-circle">
          </div>
          <div class="col">
            <div class="row">
              <a href="#" class="text-decoration-none author-name"><%= post.author.name %></a>
            </div>
            <div class="row">
              <span class="text-muted pub-at"><%= distance_of_time_in_words(Time.now, post.created_at) %></span>
            </div>
          </div>
          <div class="col-1 align-self-end">
            <div class="btn-group dropdown-actions ms-3">
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu">
                <li><%= link_to "Show", post, class: "dropdown-item" %></li>
                <li><%= link_to "Edit", edit_post_path(post), class: "dropdown-item" %></li>
                <li><%= link_to 'Destroy', post, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-text mb-3">
          <%= post.body %>
        </div>
        <div class="card-footer row bg-transparent text-center">
          <div class="col">
            <!--<a href="#" class="text-decoration-none text-secondary fw-bold">Like</a> -->
            <% liking = Liking.where(user_id: current_user.id, post_id: post.id) %>
            <% if liking.any? %>
              <%= link_to "Like", liking_path(liking.first.id), method: :delete, class: "btn text-primary fw-bold" %>
            <% else %>
              <%= form_with model: Liking.new do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.submit "Like", class: "btn text-secondary fw-bold" %>
              <% end %>
            <% end %>
          </div>
          <div class="col">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Comment</a>
          </div>
          <div class="col">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Share</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# link_to 'New Post', new_post_path %>
