<!DOCTYPE html>
<html>
  <head>
    <title>Nicebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid gx-0">
    <nav class="navbar navbar-expand-lg bg-primary px-5">
      <div class="col-3">
        <span class="navbar-brand text-white">Nicebook</span>
      </div>
      <% if user_signed_in? %>
        <div class="col-6">
          <input type="text" class="form-control w-50">
        </div>
        <div class="col-3 px-5">
          <img src="https://bulma.io/images/placeholders/32x32.png" class="px-2">
          <a href="#" class="text-white fw-bold text-decoration-none"><%= current_user.name %></a>
        </div>
      <% end %>
    </nav>

    <div class="row gx-0">
      <div class="sidebar col-3 border-end border-secondary">
      </div>
      <%= yield %>
      <div class="sidebar col-3 border-start border-secondary">
      </div>
    </div>
  </body>
</html>
